@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
    ViewData["Personal"] = "Personal Projects";
    ViewData["School"] = "School Projects";
    ViewData["All"] = "All Projects";
}
<h1 style="font-size: 5rem; text-align: center; color: white">@ViewData["Title"]</h1>

<div id="Personal" class="page-container border-top">
    <h2 style="padding-top: 1rem; font-size: 3rem; text-align: center; color: white">
        <a style="text-decoration: underline;">@ViewData["Personal"]</a>
    </h2>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Flappy Grad | Summer 2020</p>
            </div>
            <div class="project-row">
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P1</div>
                </div>
                <div class="project-column"><img class="project-image" src="images/flappygrad.png" /></div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Minutes Left | Winter 2020</p>
            </div>
            <div class="project-row">
                <div class="project-column"><img class="project-image" src="images/minutesleft.png" /></div>
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Blockball | Fall 2019</p>
            </div>
            <div class="project-row">
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P1</div>
                </div>
                <div class="project-column"><img class="project-image" src="images/blockball.png" /></div>
            </div>
        </div>
    </div>
</div>

<div id="School" class="page-container border-top">
    <h2 style="padding-top: 1rem; font-size: 3rem; text-align: center; color: white">
        <a style="text-decoration: underline;">@ViewData["School"]</a>
    </h2>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Hide and Sheep | Spring 2020 | Senior Project (EECS 398)</p>
            </div>
            <div class="project-row">
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P1</div>
                </div>
                <div class="project-column"><img class="project-image" src="images/aboutme.png" /></div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Spotify Playlist Analyzer | Spring 2020 | Systems Programming (EECS 397)</p>
            </div>
            <div class="project-row">
                <div class="project-column"><img class="project-image" src="images/aboutme.png" /></div>
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Realm Tracker | Spring 2020 | Systems Programming (EECS 397)</p>
            </div>
            <div class="project-row">
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P2</div>
                </div>
                <div class="project-column"><img class="project-image" src="images/aboutme.png" /></div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Vetris | Fall 2019 | Software Engineering (EECS 393)</p>
            </div>
            <div class="project-row">
                <div class="project-column"><img class="project-image" src="images/aboutme.png" /></div>
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">LAMPI | Spring 2019 | Connected Devices (EECS 377)</p>
            </div>
            <div class="project-row">
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P2</div>
                </div>
                <div class="project-column"><img class="project-image" src="images/aboutme.png" /></div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="project">
            <div class="project-row">
                <p class="project-title">Interpreter | Spring 2019 | Programming Language Concepts (EECS 345)</p>
            </div>
            <div class="project-row">
                <div class="project-column"><img class="project-image" src="images/aboutme.png" /></div>
                <div class="project-column">
                    <div class="project-text">Info about Project 1.</div>
                    <div class="project-button-box">Buttons for P2</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div id="All" class="page-container border-top">
    <h2 style="padding-top: 1rem; font-size: 3rem; text-align: center; color: white">
        <a style="text-decoration: underline;">@ViewData["All"]</a>
    </h2>
    <table class="table table-striped table-condensed" style="color: white, width:100%">
        <thead>
            <tr>
                <th><b>Project Name</b></th>
                <th><b>Project Description</b></th>
                <th><b>Languages</b></th>
                <th><b>Time Period</b></th>
                <th><b>Link</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProjectEntry project in @Model.projects)
            {
                <tr>
                    <th>@project.projectName</th>
                    <th>@project.description</th>
                    <th>
                    @foreach(string language in @project.languages)
                    {
                        <a>@language</a>
                    }
                    </th>
                    <th>@project.timePeriod</th>
                    <th>@project.link</th>
                </tr>
            }
        </tbody>
    </table>
</div>
-->